body {
            font-family: Arial, sans-serif;
            color: #333;
            line-height: 1.6;
            margin: 0;
            padding: 20px;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(211, 206, 206, 0.1);
        }
        h1 {
            color: #006600; /* Dark green for heading */
            border-bottom: 2px solid #ee8f0a; /* Saffron border */
            padding-bottom: 10px;
        }
        .flag-img {
            max-width: 100%;
            height: auto;
            margin: 20px 0;
            border: 2px solid #fffefe;
            border-radius: 5px;
        }
        .freedom-fighters {
            text-align: left;
            margin-top: 30px;
        }
        .freedom-fighters h2 {
            color: #c7111d; /* Dark blue */
        }
        .freedom-fighters ul {
            list-style-type: none;
            padding: 0;
        }
        .freedom-fighters li {
            background-color: #f5f6f6; /* Light blue background for list items */
            margin-bottom: 10px;
            padding: 10px;
            border-radius: 5px;
        }
        blockquote {
            font-style: italic;
            color: #090909;
            margin: 40px auto;
            max-width: 600px;
            padding: 15px;
            border-left: 5px solid #f8f8f7; /* Saffron border */
            background-color: #ffffff; /* Light yellow background */
        }
        footer {
            margin-top: 50px;
            font-size: 0.9em;
            color: #900606;
        }